<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Incognito Authenticator</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <!-- Logo Container -->
  <div class="logo-container">
      <img src="../static/logo.png" alt="Logo" class="logo">
  </div>

  <!-- Login Container -->
  <div class="login-container">
    <div class="login-header">Incognito Authenticator</div>
    <div class="login-subtitle">Use your credentials to access the portal</div>
    
    <!-- Sign In Form -->
    <form action="/" method="POST">
      <input type="text" name="username" placeholder="Username" class="login-input" required>
      <input type="password" name="password" placeholder="Password" class="login-input" required>
      <button type="submit" class="login-button">Sign In</button>
    </form>

    <!-- Sign Up Button (using an anchor tag to navigate to register.html) -->
    <a href="/register">
      <button type="button" class="incognito-button">Sign up</button>
    </a>

    <div class="footer-text">© 2024 Junction.</div>
  </div>
  <script>
    {% if message %}
    var message = "{{ message }}";
    alert(message);  // Display message in an alert box
    {% endif %}
</script>
</body>
</html>
